development: &default
  adapter: postgresql
  database: vdemo_development
  encoding: utf8
  min_messages: warning
  pool: 30
  reaping_frequency: 20
  timeout: 5000
  #username:  <%= ENV["VDEMO_DB_USERNAME"] %>
  #password: <%= ENV["VDEMO_DB_PASSWORD"] %>
  #host: <%= ENV["VDEMO_DB_HOST"] %>

test:
  <<: *default
  host: <%= ENV["VDEMO_DB_HOST"] %>
  username: <%= ENV["VDEMO_DB_USERNAME"] %>
  password: <%= ENV["VDEMO_DB_PASSWORD"] %>
  database: vdemo_test
